<!DOCTYPE html>
<html>
<head>
  <title>jQuery Air - Reserve a Seat</title>
  <%= stylesheet_link_tag    "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1>Reserve a Seat</h1>
</header>


<%= yield %>

<%= javascript_include_tag "application" %>
<%= current_javascript_file %>

</body>
</html>
